body {
  background-color: rgba(0, 0, 0, 0.941);
  color: white;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 150px; /* Add some space below the heading */
}

.row {
  display: flex;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;  /* Center the text horizontally */
  font-family: Arial, sans-serif;
  font-size: 50px;
}
